
/*

Copyright 2019 Gustavo Lara

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/

:root .niji {
  --border-radius: 0.8rem;
  --standard-border: 0.4rem;
  --standard-padding: 0.7rem;
  --standard-margin: 0.7rem;

  --standard-animation-speed: 300ms;

  --radial-position: 45% 15%;

  --gray: #7F7F7F;
  --light-gray: #C8C8C8;
  --lighter-gray: #E4E4E4;
  --white: #FFFFFF;
  --translucent-white: #FFFFFFCC;
  --green: #7AC70C;
  --light-green: #8EE000;
  --lighter-green: #BFF199;
  --blue: #1CB0F6;
  --light-blue: #14D4F4;
  --lighter-blue: #BCE9FF;
  --red: #D33131;
  --light-red: #E95959;
  --pink: #FECCCC;
  --orange: #FF9400;
  --light-orange: #FFB44A;
  --lighter-orange: #FFD292;
}

/*

Open source font https://dafonttop.com/jellee-roman.font

*/

@font-face {
  font-family: 'Jellee';
  src: url('fonts/Jellee-Roman.otf');
  size-adjust: 160%;
}

/* Base */

.niji {
  font-family: 'Jellee'; 
  position: relative;
  user-select: none;
  box-sizing: border-box;
}

/********************************************

Labels

********************************************/

.lbl {
  padding: var(--standard-padding);
  color: var(--gray);
}

.lbl.lbl-green {
  color: var(--green);
}

.lbl.lbl-blue {
  color: var(--blue);
}

.lbl.lbl-red {
  color: var(--red);
}

.lbl.lbl-orange {
  color: var(--orange);
}

.lbl.lbl-white {
  color: var(--lighter-gray);
}

.lbl.disabled {
  color: var(--light-gray);
}


/********************************************

Buttons

********************************************/

.btn {
  border-radius: var(--border-radius);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: var(--standard-border) solid var(--light-gray);
  padding: var(--standard-padding) 2rem var(--standard-padding) 2rem;
  color: var(--gray);
  background-color: var(--white);
  cursor: pointer;
  font-size: 1rem; /* Same size as labels */
}

.btn.btn-green {
  border-color: var(--green);
  color: var(--white);
  background-color: var(--light-green);
}

.btn.btn-blue {
  border-color: var(--blue);
  color: var(--white);
  background-color: var(--light-blue);
}

.btn.btn-red {
  border-color: var(--red);
  color: var(--white);
  background-color: var(--light-red);
}

.btn.btn-orange {
  border-color: var(--orange);
  color: var(--white);
  background-color: var(--light-orange);
}

.btn:not(.disabled):active {
  top: var(--standard-border);
  margin-bottom: 0.4rem;
  border-bottom-width: 0;
}

.btn.disabled {
  background-color: var(--lighter-gray);
  color: var(--light-gray);
  border-bottom-color: var(--light-gray);
}

/********************************************

Bauncy balls

********************************************/

.ball {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0.7rem solid var(--light-gray);
  padding: var(--standard-padding) 2rem var(--standard-padding) 2rem;
  color: var(--gray);
  background-color: var(--white);
  cursor: pointer;
  font-size: 1rem; /* Same size as labels */
  transform: rotate(45deg);
}

.ball.ball-green {
  background: radial-gradient(at var(--radial-position), var(--translucent-white), var(--light-green), var(--light-green));
  border-color: var(--green);
  color: var(--white);
  background-color: var(--light-green);
}

.ball.ball-blue {
  background: radial-gradient(at var(--radial-position), var(--translucent-white), var(--light-blue), var(--light-blue));
  border-color: var(--blue);
  color: var(--white);
  background-color: var(--light-blue);
}

.ball.ball-red {
  background: radial-gradient(at var(--radial-position), var(--translucent-white), var(--light-red), var(--light-red));
  border-color: var(--red);
  color: var(--white);
  background-color: var(--light-red);
}

.ball.ball-orange {
  background: radial-gradient(at var(--radial-position), var(--translucent-white), var(--light-orange), var(--light-orange));
  border-color: var(--orange);
  color: var(--white);
  background-color: var(--light-orange);
}

.ball:hover {
  animation: bounce 200ms;
  animation-iteration-count: 2;
}

.ball:focus {
  animation: bounce-higher var(--standard-animation-speed);
  animation-iteration-count: infinite;
}

.ball.disabled {
  background: radial-gradient(at var(--radial-position), var(--translucent-white), var(--lighter-gray), var(--lighter-gray));
  color: var(--lighter-gray);
  border-bottom-color: var(--light-gray);
  animation: none;
}

@keyframes bounce {
	0% {
    bottom: 0;
		animation-timing-function: ease-out;
	}
	60% {
    bottom: 0.5rem;
		animation-timing-function: ease-in;
	}
  100% {
    bottom: 0;
		animation-timing-function: ease-out;
	}
}

@keyframes bounce-higher {
	0% {
    bottom: 0;
		animation-timing-function: ease-out;
	}
	50% {
    bottom: 1.9rem;
		animation-timing-function: ease-in;
	}
  100% {
    bottom: 0;
		animation-timing-function: ease-out;
	}
}

/********************************************

Radio buttons

********************************************/

.rad {
  color: var(--gray);
  padding-left: var(--standard-padding);
}

.rad :not(input[type="radio"]:checked) + label {
  cursor: pointer;
  padding-left: 0;
  transition: padding-left var(--standard-animation-speed);
}

.rad :not(input[type="radio"]:checked) + label:hover {
  padding-left: var(--standard-padding);
  transition: padding-left var(--standard-animation-speed);
}

.rad input[type=radio] {
  display: none;
}

.rad input[type="radio"]:checked + label {
  font-size: 2rem;
}

.rad.rad-green {
  color: var(--green);
}

.rad.rad-blue {
  color: var(--blue);
}

.rad.rad-red {
  color: var(--red);
}

.rad.rad-orange {
  color: var(--orange)
}

.rad.rad-white {
  color: var(--white)
}

.rad input[type="radio"][disabled] + label {
  color: var(--light-gray);
}

.rad input[type="radio"][disabled]:not(:checked) + label:hover {
  text-decoration: none;
  padding-left: 0;
}

/********************************************

Text boxes

********************************************/

.text {
  border: var(--standard-border) solid;
  padding: var(--standard-padding);
  border-radius: var(--border-radius);
  color: var(--gray);
  background-color: var(--white);
  font-size: 1rem;
}

.text::-webkit-input-placeholder {
  color: var(--light-gray);
}

.text::-moz-placeholder {
  color: var(--light-gray);
}

.text:-ms-input-placeholder {
  color: var(--light-gray);
}

.text::-ms-input-placeholder {
  color: var(--light-gray);
}

.text::placeholder {
  color: var(--light-gray);
}

/* Green text */

.text.text-green {
  border-color: var(--green);
  color: var(--light-green);
  background-color: var(--white);
}

.text.text-green::-webkit-input-placeholder {
  color: var(--lighter-green);
}

.text.text-green::-moz-placeholder {
  color: var(--lighter-green);
}

.text.text-green:-ms-input-placeholder {
  color: var(--lighter-green);
}

.text.text-green::-ms-input-placeholder {
  color: var(--lighter-green);
}

.text.text-green::placeholder {
  color: var(--lighter-green);
}

/* Blue text */

.text.text-blue {
  border-color: var(--blue);
  color: var(--blue);
  background-color: var(--white);
}

.text.text-blue::-webkit-input-placeholder {
  color: var(--lighter-blue);
}

.text.text-blue::-moz-placeholder {
  color: var(--lighter-blue);
}

.text.text-blue:-ms-input-placeholder {
  color: var(--lighter-blue);
}

.text.text-blue::-ms-input-placeholder {
  color: var(--lighter-blue);
}

.text.text-blue::placeholder {
  color: var(--lighter-blue);
}

/* Red text */

.text.text-red {
  border-color: var(--red);
  color: var(--red);
  background-color: var(--white);
}

.text.text-red::-webkit-input-placeholder {
  color: var(--pink);
}

.text.text-red::-moz-placeholder {
  color: var(--pink);
}

.text.text-red:-ms-input-placeholder {
  color: var(--pink);
}

.text.text-red::-ms-input-placeholder {
  color: var(--pink);
}

.text.text-red::placeholder {
  color: var(--pink);
}

/* Orange text */

.text.text-orange {
  border-color: var(--orange);
  color: var(--orange);
  background-color: var(--white);
}

.text.text-orange::-webkit-input-placeholder {
  color: var(--lighter-orange);
}

.text.text-orange::-moz-placeholder {
  color: var(--lighter-orange);
}

.text.text-orange:-ms-input-placeholder {
  color: var(--lighter-orange);
}

.text.text-orange::-ms-input-placeholder {
  color: var(--lighter-orange);
}

.text.text-orange::placeholder {
  color: var(--lighter-orange);
}

.text[disabled] {
  border-color: var(--light-gray);
  color: var(--light-gray);
  background-color: var(--lighter-gray);
}

.text[disabled]::-webkit-input-placeholder {
  color: var(--light-gray);
}

.text[disabled]::-moz-placeholder {
  color: var(--light-gray);
}

.text[disabled]:-ms-input-placeholder {
  color: var(--light-gray);
}

.text[disabled]::-ms-input-placeholder {
  color: var(--light-gray);
}

.text[disabled]::placeholder {
  color: var(--light-gray);
}

/********************************************

Useful classes

********************************************/

.m-1 { margin: 1rem; }
.m-2 { margin: 2rem; }
.m-3 { margin: 3rem; }
.m-4 { margin: 4rem; }

.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }
.p-4 { padding: 4rem; }

.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.ml-3 { margin-left: 3rem; }
.ml-4 { margin-left: 4rem; }

.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mr-3 { margin-right: 3rem; }
.mr-4 { margin-right: 4rem; }

.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }


.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }

.pr-1 { padding-right: 1rem; }
.pr-2 { padding-right: 2rem; }
.pr-3 { padding-right: 3rem; }
.pr-4 { padding-right: 4rem; }

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }

.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }

.w-25 { width: 25%; }
.h-25 { height: 25%; }

.w-50 { width: 50%; }
.h-50 { height: 50%; }

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.text-center { text-align: center; }
.text-right { text-align: right; }
